<div id="header">
    <div class="header">
        <ul>
            <li>
                <a [routerLink]="['/home']" [class.selected]="selected==='home'" (click)="onSelect('home')">home</a>
            </li>
            <li>
                <a [routerLink]="['/about']" [class.selected]="selected==='about'" (click)="onSelect('about')">about</a>
            </li>
            <li>
                <a href="blog.html" [class.selected]="selected==='blog'" (click)="onSelect('blog')">blog</a>
            </li>
            <li>
                <a href="shows.html" [class.selected]="selected==='shows'" (click)="onSelect('shows')">shows</a>
            </li>
        </ul>
        <form action="index.html">
            <input type="text" name="email" id="email" value="Enter e-mail address">
            <input type="submit" name="submit" id="submit" value="">
        </form>
    </div>
</div>