<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['Welcome']" class="navbar-brand" (click)="onSelect('home')">Your Music</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['Welcome']" [class.active]="selected==='home'" (click)="onSelect('home')">Home</a>
                </li>
                <li>
                    <a [routerLink]="['About']" [class.active]="selected==='about'"
                       (click)="onSelect('about')">About</a>
                </li>
                <li>
                    <a [routerLink]="['Video']" [class.active]="selected==='video'" (click)="onSelect('video')">Video</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
