<div class="container container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center login-title">Join us. Enter your details here.</h1>
            <div class="account-wall">
                <img class="profile-img" src="views/images/filmreel.png" alt="Music Video">
                <div *ngIf="errorMessage">
                    <div class="alert alert-danger">
                        <p>{{errorMessage}}</p>
                    </div>
                </div>
                <form class="form-horizontal" (submit)="joinUs()">
                    <div class="form-group text-center">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-6">
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" id="email" placeholder="Email" required autofocus [(ngModel)]="user.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user-name" class="col-md-3 control-label">Username</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="user-name" placeholder="Username" minlength="6" required [(ngModel)]="user.userName" ngControl="userName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="password" placeholder="Password" minlength="6" required [(ngModel)]="user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="re-password" class="col-md-3 control-label">Re-Enter Password</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="re-password" placeholder="Re-Enter password" required [(ngModel)]="rePassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first-name" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="first-name" placeholder="First name" pattern="[a-zA-Z]+$" required [(ngModel)]="user.firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last-name" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="last-name" placeholder="Last name" pattern="[a-zA-Z]+$" required [(ngModel)]="user.lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-md-3 control-label">Address</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="address" placeholder="Address" [(ngModel)]="user.address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <button class="btn btn-primary pull-right" type="submit">Create my account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>