# Directories #
/build/
/bin/
target/
*.class
# Package Files #
*.jar
*.war
*.ear
*.db
.Trashes
######################
# Eclipse
######################
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath
.idea/