body {
	background: #000 url(../images/background.jpg) no-repeat top center;
}
.active{
	background-color:#CCCCCC !important;
	color:#000000 !important;
}
.welcome{
	color:#CCCCCC;
	font-size:18px;
}
div{
	color:white;
}
figcaption{
	font-weight:bold;
}
.mr-top{
	margin-top:20px;
}
.well{
	padding: 10px 0 0 15px !important;
}
.well p{
	color:black;
	font-weight:500;
	font-size:24px;
}
.pre-scrollable{
	max-height: 600px !important;
}
.background-black{
	background-color: #464646;
	padding:10px;
}
.video-title{
	font-size: 14px;
	font-weight:400;
	padding:5px;
}