body {
	background: #000 url(../images/background.jpg) no-repeat top center;
}
.active{
	background-color:#CCCCCC !important;
	color:#000000 !important;
}
.welcome{
	color:#CCCCCC;
	font-size:18px;
}
div{
	color:white;
}
figcaption{
	font-weight:bold;
}
.mr-top{
	margin-top:20px;
}
