<div id="body">
    <div class="content">
        <a href="#"><img src="views/images/queen-logo.png" alt="Queen" title="Queen" height="300" width="300"
                         class="queen-logo"></a>
        <b>Queen (band)</b>
        <p>
            Following their debut in 1973, Queen, a completely different sort of band, was hailed as "a fresh, new
            breeze into the world of rock." The English group became best known for their flamboyant lead singer, the
            late Freddie Mercury, whose dramatic vocal style and outrageous onstage antics formed much of the band's
            reputation and personality—deservedly or not. Often overlooked are the band's considerable musical skill and
            their talent for songwriting—the original four members of Queen were responsible for an impressively
            imaginative and diverse body of work that included such songs as the ingenious operatic experiment "Bohemian
            Rhapsody," the harmonic "Somebody to Love," the playful "Fat Bottom Girls," the cocky "We Will Rock You/We
            Are the Champions," the rhythmic "Crazy Little Thing Called Love," and what became a popular football
            stadium anthem, "Another One Bites the Dust."

            Formed in 1971, Queen's lineup included guitarist Brian May and drummer Roger Taylor, both former members of
            the band Smile, bass player John Deacon, and Mercury. After a short time spent in rehearsal, the group began
            their search for a record company in 1973 and signed almost immediately with EMI. Their self-titled first
            album sold extremely well in both Britain and the United States, and their second album, Queen II, yielded
            the British top-ten single "Seven Seas of Rhye." Queen's big breakthrough in the United States came in late
            1974 with Sheer Heart Attack —a best-selling album containing the top-ten single "Killer Queen." Their
            successful tour season met with mixed criticism. One writer for the New York Times introduced them as "a
            British quartet still subscribing to the principles of blitzkrieg rock," referring to the group's lavish
            production values, and commented that though their music was "scarcely superoriginal," the band evidently
            "touched a responsive chord that should allow Queen to reign quite happily in this area."
        </p>
        <b>Current Members</b>
        <ul>
            <li>Brian May – lead and rhythm guitars, backing and lead vocals (1970–present)</li>
            <li>Roger Taylor – drums, percussion, backing and lead vocals (1970–present)</li>
        </ul>
        <b>Former Members</b>
        <ul>
            <li>Freddie Mercury – lead and backing vocals, piano (1970–91; his death)</li>
            <li>John Deacon – bass guitar (1971–97)</li>
            <li>Mike Grose – bass (1970)</li>
            <li>Barry Mitchell – bass (1970–71)</li>
            <li>Doug Ewood Boogie – bass (1971)</li>
        </ul>
        <b></b>
        <div class="galary">
            <div>
                <figure>
                    <img src="views/images/john-decon.png" title="John Decon" alt="John Decon" height="200" width="200">
                    <figcaption>John Decon (Bass)</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="views/images/roger-taylor.png" title="Roger Taylor" alt="Roger Taylor" height="200"
                         width="200">
                    <figcaption>Roger Taylor (Drums)</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="views/images/freddie-mercury.png" title="Freddie Mercury" alt="Freddie Mercury"
                         height="200" width="200">
                    <figcaption>Freddie Mercury( Lead Vocal)</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="views/images/brian-may.png" title="Brian May" alt="Brian May" width="200" height="200">
                    <figcaption>Brian May (Lead and rhythm guitars)</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="views/images/queen.png" title="Queen" alt="Queen" height="200" width="200">
                    <figcaption>Queen</figcaption>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="views/images/queen-whole.png" title="Queen" alt="Queen" height="200" width="200">
                    <figcaption>Queen</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>