<div class="row">
    <table class="table table-responsive text-center" *ngIf="user">
        <tbody class="col-md-8 col-md-offset-2">
            <tr>
                <td class="text-right">Full Name</td>
                <td class="text-left">{{user.firstName+' '+user.lastName}}</td>
            </tr>
            <tr>
                <td class="text-right">Email</td>
                <td class="text-left">{{user.email}}</td>
            </tr>
            <tr>
                <td class="text-right">Username</td>
                <td class="text-left">{{user.userName}}</td>
            </tr>
            <tr>
                <td class="text-right">Address</td>
                <td class="text-left">{{user.address}}</td>
            </tr>
            <tr>
                <td class="text-right">Favourite videos</td>
                <td class="text-left">{{user.favouriteVideos.length}}</td>
            </tr>
            <tr>
                <td class="text-right">Email</td>
                <td class="text-left">{{user.email}}</td>
            </tr>
        </tbody>

    </table>
</div>