<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="well ">
                <p>Add new video</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="">
                <div class="form-group ">
                    <label for="video-url">Video Url</label>
                    <input type="text" id="video-url" class="form-control" required placeholder="Enter video url here..." [(ngModel)]="video.url">
                </div>
                <div class="form-group ">
                    <label for="video-name">Name</label>
                    <input type="text" class="form-control" id="video-name" required placeholder="Enter the name of the video here..." [(ngModel)]="video.name">
                </div>
                <div class="form-group ">
                    <label for="video-id">Video Id</label>
                    <input type="text" class="form-control" id="video-id" placeholder="Enter the video id here..." [(ngModel)]="video.videoId">
                </div>
                <div class="form-group ">
                    <label for="video-frame-height">Video Frame Height</label>
                    <input type="text" class="form-control" id="video-frame-height" placeholder="Enter the video frame height here..." [(ngModel)]="video.frameHeight">
                </div>
                <div class="form-group ">
                    <label for="video-frame-width">Video Frame Width</label>
                    <input type="text" class="form-control" id="video-frame-width" placeholder="Enter the video frame width here..." [(ngModel)]="video.frameWidth">
                </div>
                <div class="form-group ">
                    <label for="video-duration">Video Duration</label>
                    <input type="text" class="form-control" id="video-duration" placeholder="Enter the video duration here..." [(ngModel)]="video.duration">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="video.shared">
                        Share this video with everyone
                    </label>
                </div>
                <button (click)="add()"  class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>

</div>