<div class="row album" *ngIf="albums && albums.length">
    <div class="col-md-4 col-md-offset-4 pull-right">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#album">Albums
                            <i class="glyphicon glyphicon-th-list pull-right"></i>
                        </a>
                    </h4>
                </div>
                <div id="album" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item text-center" id="album-list" *ngFor="#album of albums" [class.selected]="album===selectedAlbum" (click)="selectAlbum(album)">{{album.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>